%div.row.search-bar
 = render 'layouts/content_header'
%div.row
 %div{:class => "col s8 m9 l9 cards"}
  - @articles.each do |article|
   %div.card.hoverable
    %div.card-image
     = image_tag article.image, class: "materialboxed"
     = link_to article_path(article), class: "btn-floating btn-large halfway-fab waves-effect waves-light" do
      %i.material-icons add
    %div.card-content
     %div.card-title
      %span= article.title
     %p
      %i.card-at-time
       %small= time_ago_in_words(article.created_at)
     %p= truncate(article.body, length: 60, omission: "" , escape: false)
    %div.card-action.right-align
     %span.card-author
      %i por #{article.author.name}
